<a href="https://colab.research.google.com/github/harbidel/Chickenpox-Case-Prediction/blob/main/ChickenPox_Case_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('/content/hungary_chickenpox.csv')
data.head(10)

,Date,BUDAPEST,BARANYA,BACS,BEKES,BORSOD,CSONGRAD,FEJER,GYOR,HAJDU,...,JASZ,KOMAROM,NOGRAD,PEST,SOMOGY,SZABOLCS,TOLNA,VAS,VESZPREM,ZALA
0,03/01/2005,168,79,30,173,169,42,136,120,162,...,130,57,2,178,66,64,11,29,87,68
1,10/01/2005,157,60,30,92,200,53,51,70,84,...,80,50,29,141,48,29,58,53,68,26
2,17/01/2005,96,44,31,86,93,30,93,84,191,...,64,46,4,157,33,33,24,18,62,44
3,24/01/2005,163,49,43,126,46,39,52,114,107,...,63,54,14,107,66,50,25,21,43,31
4,31/01/2005,122,78,53,87,103,34,95,131,172,...,61,49,11,124,63,56,7,47,85,60
5,07/02/2005,174,76,77,152,189,26,74,181,157,...,95,97,26,146,59,54,27,54,48,60
6,14/02/2005,153,103,54,192,148,65,100,118,129,...,88,56,10,119,104,85,20,32,153,70
7,21/02/2005,115,74,64,174,140,56,111,175,138,...,112,70,21,178,70,75,5,66,149,54
8,28/02/2005,119,86,57,171,90,65,118,105,194,...,67,46,12,112,116,76,22,45,102,42
9,07/03/2005,114,81,129,217,167,64,93,154,119,...,118,73,6,130,68,59,31,85,96,54

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      522 non-null    object
 1   BUDAPEST  522 non-null    int64
 2   BARANYA   522 non-null    int64
 3   BACS      522 non-null    int64
 4   BEKES     522 non-null    int64
 5   BORSOD    522 non-null    int64
 6   CSONGRAD  522 non-null    int64
 7   FEJER     522 non-null    int64
 8   GYOR      522 non-null    int64
 9   HAJDU     522 non-null    int64
 10  HEVES     522 non-null    int64
 11  JASZ      522 non-null    int64
 12  KOMAROM   522 non-null    int64
 13  NOGRAD    522 non-null    int64
 14  PEST      522 non-null    int64
 15  SOMOGY    522 non-null    int64
 16  SZABOLCS  522 non-null    int64
 17  TOLNA     522 non-null    int64
 18  VAS       522 non-null    int64
 19  VESZPREM  522 non-null    int64
 20  ZALA      522 non-null    int64
dtypes: int64(20), object(1)
memory usage: 85.8+ KB

In [6]:
data.describe()

,BUDAPEST,BARANYA,BACS,BEKES,BORSOD,CSONGRAD,FEJER,GYOR,HAJDU,HEVES,JASZ,KOMAROM,NOGRAD,PEST,SOMOGY,SZABOLCS,TOLNA,VAS,VESZPREM,ZALA
count,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000
mean,101.245211,34.204981,37.166667,28.911877,57.082375,31.488506,33.272031,41.436782,47.097701,29.691571,40.869732,25.643678,21.850575,86.101533,27.609195,29.854406,20.352490,22.467433,40.636015,19.873563
std,76.354872,32.567222,36.843095,37.618092,50.725437,33.790208,31.397989,36.014297,44.610836,31.857750,37.283299,24.467995,22.025999,66.773741,26.724236,31.814630,23.273025,25.006638,40.699471,21.999636
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34.250000,8.000000,8.000000,4.000000,14.250000,6.000000,7.000000,9.000000,11.000000,6.250000,10.000000,6.000000,4.000000,28.250000,6.000000,6.000000,4.000000,3.000000,7.250000,4.000000
50%,93.000000,25.000000,29.500000,14.000000,46.500000,20.500000,24.000000,35.000000,37.000000,21.000000,31.000000,19.000000,15.000000,81.000000,20.500000,18.500000,12.000000,13.000000,32.000000,13.000000
75%,149.000000,51.000000,53.000000,38.750000,83.750000,47.000000,51.750000,63.000000,68.000000,41.000000,61.750000,39.000000,32.750000,129.750000,41.000000,45.000000,29.000000,34.000000,59.000000,31.000000
max,479.000000,194.000000,274.000000,271.000000,355.000000,199.000000,164.000000,181.000000,262.000000,210.000000,224.000000,160.000000,112.000000,431.000000,155.000000,203.000000,131.000000,141.000000,230.000000,216.000000

In [7]:
data.corr()

<ipython-input-7-c44ded798807>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,BUDAPEST,BARANYA,BACS,BEKES,BORSOD,CSONGRAD,FEJER,GYOR,HAJDU,HEVES,JASZ,KOMAROM,NOGRAD,PEST,SOMOGY,SZABOLCS,TOLNA,VAS,VESZPREM,ZALA
BUDAPEST,1.000000,0.592576,0.590591,0.469539,0.647637,0.590576,0.521712,0.642558,0.583234,0.521214,0.588447,0.610660,0.617466,0.765108,0.576550,0.525148,0.570638,0.485438,0.590454,0.482021
BARANYA,0.592576,1.000000,0.549028,0.461681,0.502438,0.466148,0.536788,0.629203,0.558700,0.462026,0.550087,0.588090,0.516305,0.698257,0.523222,0.459277,0.519164,0.362498,0.539627,0.351299
BACS,0.590591,0.549028,1.000000,0.376841,0.497418,0.410252,0.569849,0.629479,0.532840,0.491300,0.556246,0.627695,0.458232,0.588136,0.390666,0.422055,0.354881,0.381002,0.500827,0.338640
BEKES,0.469539,0.461681,0.376841,1.000000,0.520733,0.358816,0.518723,0.622800,0.559992,0.473911,0.593957,0.567197,0.320750,0.506118,0.420621,0.447096,0.263130,0.363584,0.458866,0.443103
BORSOD,0.647637,0.502438,0.497418,0.520733,1.000000,0.450051,0.576000,0.607373,0.606355,0.503052,0.510270,0.524468,0.450783,0.623924,0.528932,0.557510,0.354870,0.437104,0.507951,0.403490
CSONGRAD,0.590576,0.466148,0.410252,0.358816,0.450051,1.000000,0.420919,0.479249,0.412110,0.439871,0.449000,0.422902,0.467342,0.494751,0.459899,0.363813,0.463611,0.516799,0.537751,0.432991
FEJER,0.521712,0.536788,0.569849,0.518723,0.576000,0.420919,1.000000,0.716062,0.583629,0.560054,0.527437,0.550654,0.378492,0.593948,0.498415,0.482961,0.258689,0.304401,0.512440,0.392683
GYOR,0.642558,0.629203,0.629479,0.622800,0.607373,0.479249,0.716062,1.000000,0.671937,0.547099,0.625258,0.700550,0.538613,0.673638,0.560408,0.517038,0.387208,0.479310,0.591379,0.386553
HAJDU,0.583234,0.558700,0.532840,0.559992,0.606355,0.412110,0.583629,0.671937,1.000000,0.499774,0.547277,0.623411,0.382961,0.608544,0.499239,0.508565,0.397388,0.422236,0.451603,0.332356
HEVES,0.521214,0.462026,0.491300,0.473911,0.503052,0.439871,0.560054,0.547099,0.499774,1.000000,0.484403,0.451202,0.578727,0.585709,0.448006,0.401694,0.269817,0.367506,0.396039,0.414694
JASZ,0.588447,0.550087,0.556246,0.593957,0.510270,0.449000,0.527437,0.625258,0.547277,0.484403,1.000000,0.647520,0.374842,0.607870,0.486919,0.515809,0.482194,0.520714,0.633663,0.501688
KOMAROM,0.610660,0.588090,0.627695,0.567197,0.524468,0.422902,0.550654,0.700550,0.623411,0.451202,0.647520,1.000000,0.389308,0.654311,0.459082,0.535437,0.409796,0.463259,0.558918,0.440237
NOGRAD,0.617466,0.516305,0.458232,0.320750,0.450783,0.467342,0.378492,0.538613,0.382961,0.578727,0.374842,0.389308,1.000000,0.609349,0.477840,0.370017,0.457791,0.433703,0.440043,0.409562
PEST,0.765108,0.698257,0.588136,0.506118,0.623924,0.494751,0.593948,0.673638,0.608544,0.585709,0.607870,0.654311,0.609349,1.000000,0.621598,0.581923,0.591172,0.458452,0.665890,0.469918
SOMOGY,0.576550,0.523222,0.390666,0.420621,0.528932,0.459899,0.498415,0.560408,0.499239,0.448006,0.486919,0.459082,0.477840,0.621598,1.000000,0.451183,0.497219,0.535329,0.649248,0.433992
SZABOLCS,0.525148,0.459277,0.422055,0.447096,0.557510,0.363813,0.482961,0.517038,0.508565,0.401694,0.515809,0.535437,0.370017,0.581923,0.451183,1.000000,0.412131,0.258397,0.462421,0.340393
TOLNA,0.570638,0.519164,0.354881,0.263130,0.354870,0.463611,0.258689,0.387208,0.397388,0.269817,0.482194,0.409796,0.457791,0.591172,0.497219,0.412131,1.000000,0.432615,0.540089,0.353683
VAS,0.485438,0.362498,0.381002,0.363584,0.437104,0.516799,0.304401,0.479310,0.422236,0.367506,0.520714,0.463259,0.433703,0.458452,0.535329,0.258397,0.432615,1.000000,0.492025,0.449778
VESZPREM,0.590454,0.539627,0.500827,0.458866,0.507951,0.537751,0.512440,0.591379,0.451603,0.396039,0.633663,0.558918,0.440043,0.665890,0.649248,0.462421,0.540089,0.492025,1.000000,0.567760
ZALA,0.482021,0.351299,0.338640,0.443103,0.403490,0.432991,0.392683,0.386553,0.332356,0.414694,0.501688,0.440237,0.409562,0.469918,0.433992,0.340393,0.353683,0.449778,0.567760,1.000000